<h1>Review and manage author profiles</h1>

{{! READ table }}
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Birth Year</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        {{#each authors}}
        <tr>
            <td>{{this.authorID}}</td>
            <td>{{this.firstName}}</td>
            <td>{{this.lastName}}</td>
            <td>{{this.birthYear}}</td>

            {{! DELETE form }}
            <td>
                <form class="inlineForm" action="/authors/delete" method="POST">
                    <input type="hidden" name="authorID" value="{{this.authorID}}" />
                    <button type="submit" onclick="return confirm('Delete {{this.firstName}} {{this.lastName}}?');">
                        Delete
                    </button>
                </form>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>

{{! CREATE form }}
<h2>Add New Author</h2>
<form class="cuForm" id="create_author_form" action="/authors" method="POST">
    <label for="firstName">First Name: </label>
    <input type="text" name="firstName" id="firstName" required />

    <label for="lastName">Last Name: </label>
    <input type="text" name="lastName" id="lastName" required />

    <label for="birthYear">Birth Year: </label>
    <input type="number" name="birthYear" id="birthYear" />

    <input type="submit" value="Add Author" />
</form>

{{! UPDATE form }}
<h2>Update an Author</h2>
<form class="cuForm" id="update_author_form" action="/authors/update" method="POST">
    <label for="update_author_id">Author to Update: </label>
    <select name="authorID" id="update_author_id" required>
        <option value="" disabled selected>Select an Author</option>
        {{#each authors}}
        <option value="{{this.authorID}}">
            {{this.authorID}} - {{this.firstName}} {{this.lastName}}
        </option>
        {{/each}}
    </select>
    
    <label for="update_firstName">First Name: </label>
    <input type="text" name="firstName" id="update_firstName" required />

    <label for="update_lastName">Last Name: </label>
    <input type="text" name="lastName" id="update_lastName" required />

    <label for="update_birthYear">Birth Year: </label>
    <input type="number" name="birthYear" id="update_birthYear" />

    <input type="submit" value="Update Author" />
</form>