{{! Citation for the following file:
    Date: 2/19/2026
    Adapted base from Lecture code}}

<h1>Book-Author Relationship</h1>

{{! READ table}}
<table>
    <thead>
        <tr>
            <th>Book ID</th>
            <th>Book Title</th>
            <th>Author ID</th>
            <th>Author Name</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        {{#each book_authors}}
        <tr>
            <td>{{this.bookID}}</td>
            <td>{{this.title}}</td>
            <td>{{this.authorID}}</td>
            <td>{{this.authorName}}</td>

            <td>
                {{! DELETE form}}
                <form class="inlineForm" action="/book_authors/delete" method="POST">
                    <input type="hidden" name="bookID" value="{{this.bookID}}" />
                    <input type="hidden" name="authorID" value="{{this.authorID}}" />
                    <button type="submit" onclick="return confirm('Delete this relationship?');">
                        Delete
                    </button>
                </form>
            </td>

        </tr>
        {{/each}}
    </tbody>
</table>

{{! CREATE form}}
<h2>Add Book-Author Relationship</h2>
<form class="cuForm" id="create_book_author_form" action="/book_authors/add" method="POST">
    <label for="bookID">Book: </label>
    <select name="bookID" id="bookID" required>
        <option value="" disabled selected>Select a Book</option>
        {{#each books}}
        <option value="{{this.bookID}}">{{this.title}}</option>
        {{/each}}
    </select>

    <label for="authorID">Author: </label>
    <select name="authorID" id="authorID" required>
        <option value="" disabled selected>Select an Author</option>
        {{#each authors}}
        <option value="{{this.authorID}}">{{this.firstName}} {{this.lastName}}</option>
        {{/each}}
    </select>

    <input type="submit" value="Add Relationship" />
</form>

{{! UPDATE form}}
<h2>Update Book-Author Relationship</h2>
<form class="cuForm" id="update_book_author_form" action="/book_authors/update" method="POST">
    <label for="update_book_id">Book: </label>
    <select name="bookID" id="update_book_id" required>
        <option value="" disabled selected>Select a Book</option>
        {{#each books}}
        <option value="{{this.bookID}}">{{this.title}}</option>
        {{/each}}
    </select>

    <label for="old_author_id">Current Author: </label>
    <select name="old_authorID" id="old_author_id" required>
        <option value="" disabled selected>Select Current Author</option>
        {{#each authors}}
        <option value="{{this.authorID}}">{{this.authorID}}</option>
        {{/each}}
    </select>

    <label for="new_author_id">New Author: </label>
    <select name="new_authorID" id="new_author_id" required>
        <option value="" disabled selected>Select New Author</option>
        {{#each authors}}
        <option value="{{this.authorID}}">{{this.authorID}}</option>
        {{/each}}
    </select>

    <input type="submit" value="Update Relationship" />
</form>