{{! Citation for the following file:
    Date: 2/19/2026
    Adapted base from Lecture code}}

<h1>Organize genre categories</h1>

{{! READ table }}
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Genre Name</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        {{#each genres}}
        <tr>
            <td>{{this.genreID}}</td>
            <td>{{this.genreName}}</td>
            <td>
                {{! DELETE form }}
                <form class="inlineForm" action="/genres/delete" method="POST">
                    <input type="hidden" name="genreID" value="{{this.genreID}}" />
                    <button type="submit" onclick="return confirm('Delete {{this.genreName}}?');">
                        Delete
                    </button>
                </form>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>

{{! CREATE form }}
<h2>Add New Genre</h2>
<form class="cuForm" id="create_genre_form" action="/genres/add" method="POST">
    <label for="genreName">Genre Name: </label>
    <input type="text" name="genreName" id="genreName" required />
    <input type="submit" value="Add Genre" />
</form>

{{! UPDATE form }}
<h2>Update a Genre</h2>
<form class="cuForm" id="update_genre_form" action="/genres/update" method="POST">
    <label for="update_genre_id">Genre to Update: </label>
    <select name="genreID" id="update_genre_id" required>
        <option value="" disabled selected>Select a Genre</option>
        {{#each genres}}
        <option value="{{this.genreID}}">
            {{this.genreID}} - {{this.genreName}}
        </option>
        {{/each}}
    </select>

    <label for="update_genreName">Genre Name: </label>
    <input type="text" name="genreName" id="update_genreName" required />
    <input type="submit" value="Update Genre" />
</form>